* {
  font-family: 'Lato', sans-serif;
}

::selection {
    color: #f5f6fa;
    background: rgba(0, 0, 0, 0.2);
}

p,a,h1,h2 {
  color: #f5f6fa;
}

a {
  text-align: center;
}

h1,h2 {
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
  font-family: 'Pacifico';
  margin-bottom: 0.5em;
}

h2 {
  font-size: 3em;
  width: 100%;
  margin-bottom: 0.5em;
}

.description__p {
  text-align: center;
  font-size: 1.2em;
  width: 45%;
  margin: 0 auto 2em auto;
}

.page {
  z-index: 1;
}

.first-page::after,
.fire-page::after,
.water-page::after,
.nature-page::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.first-page {
  background-color: #f19066;
}

.first-page::after {
  background-image: url("./media/front-background.jpg");
  opacity: 0.4;
}

.water-page {
  background-color: #3498db;
}

.water-page::after {
  background-image: url("./media/water-background.jpg");
  opacity: 0.3;
}

.nature-page {
  background-color: #27ae60;
}

.nature-page::after {
  background-image: url("./media/nature-background.jpg");
  opacity: 0.45;
}

.fire-page {
  background-color: #e55039;
}

.fire-page::after {
  background-image: url("./media/fire-background.jpg");
}

.categories {
  width: 75%;
  margin: 4em auto 2em auto;
  justify-content: space-evenly;
  display: flex;
}

.category {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.category img {
  width: 7em;
  height: 7em;
  margin: 0 auto;
}

.category__p {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.category-content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.category-content__img {
  width: 12em;
  height: 12em;
  margin: 0 auto;
}

.audio-button {
  width: 4em;
  height: 4em;
  margin: 3em auto 0 auto;
  cursor: pointer;
  opacity: 0.9;
  transition: all .2s ease-in-out;
}

#audio-water {
  margin-top: 1.5em;
}

.audio-button:hover {
  transform: scale(1.1);
}

.button {
  padding: 0.8em;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  width: 6em;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.icon-link {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.icon-link:hover {
  transform: scale(1.1);
}

#fp-nav ul li a span {
  background: #f5f6fa !important;
}

.sliderContainer {
  display: flex;
  margin: 1em auto 0 auto;
}

.sliderContainer img {
  width: 1.4em;
  height: 1.4em;
}

.sliderContainer img:first-child {
  margin-right: -0.4em;
}

.volume-slider {
  -webkit-appearance: none;
  width: 15em;
  height: 6px;
  border-radius: 5px;
  background: #f5f6fa;
  outline: none;
  opacity: 0.7;
  transition: .2s;
  margin: 0.6em 1em;
}

.volume-slider:hover {
  opacity: 1;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(45, 52, 54, 0.7);
}

.timer__container {
  width: 15em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 1em;
  right: .5em;
  border-radius: 3em;
  position: fixed;
}

.timer__button {
  padding: 0.45em;
  background: none;
  border: 2px solid rgba(255,255,255,0.3);
}

.timer__button:hover {
  border: 2px solid rgba(255,255,255,0);
}

.timer__input {
  background: none;
  border: 1px solid rgba(255,255,255,0.2);
  width: 2em;
  height: 1.2em;
  border-radius: 0.5em;
  color: #f5f6fa;
  text-align: center;
  font-family: 'Pacifico';
  vertical-align: middle;
}

.timer__input::placeholder {
  color: #f5f6fa;
}

.timer__p {
  font-family: 'Pacifico';
  text-align: center;
  margin: 0 0.5em;
  padding: 0.3em;
  display: inline-block;
}

.timer__time {
  display: flex;
  margin: 0 auto;
}

.timer__p--value {
  margin: 0;
  font-size: 1.1em;
  min-width: 3em;
}

#timer__logo {
  display: inline-block;
  margin: auto;
  width: 1.5em;
  height: 1.5em;
}

@media only screen and (max-width: 600px) {
    .categories {
      width: 80%;
    }
    .category {
      width: 33%;
    }
    .category img {
      width: 4em;
      height: 4em;
    }
    .category__p {
      font-size: 0.8em;
    }
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 2em;
    }
    .description__p {
      font-size: 0.9em;
      width: 70%;
      margin-bottom: 1em;
    }
    .category-content__img {
      width: 9em;
      height: 9em;
    }
    .audio-button {
      width: 3em;
      height: 3em;
      margin-top: 2em;
    }
    #audio-water {
      margin-top: 1em;
    }
    #audio-fire {
      margin-top: 2.5em;
    }
    .volume-slider {
      width: 12em;
      margin-top: 0.4em;
    }
    .sliderContainer img {
      width: 1.2em;
      height: 1.2em;
    }
}
