* {
  font-family: 'Lato', sans-serif;
}

::selection {
    color: #f5f6fa;
    background: rgba(0, 0, 0, 0.2);
}

p,a,h1,h2 {
  color: #f5f6fa;
}

a {
  text-align: center;
}

h1,h2 {
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
  font-family: 'Pacifico';
  margin-bottom: 0.5em;
}

h2 {
  font-size: 3em;
  width: 100%;
  margin-bottom: 0.5em;
}

.description__p {
  text-align: center;
  font-size: 1.2em;
  width: 50%;
  margin: 0 auto 2em auto;
}

.page {
  z-index: 1;
}

.first-page::after,
.fire-page::after,
.water-page::after,
.nature-page::after {
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.first-page {
  background-color: #f19066;
}

.first-page::after {
  background-image: url("./media/front-background-min.jpg");
}

.water-page {
  background-color: #3498db;
}

.water-page::after {
  background-image: url("./media/water-background-min.jpg");
}

.nature-page {
  background-color: #27ae60;
}

.nature-page::after {
  background-image: url("./media/nature-background-min.jpg");
}

.fire-page {
  background-color: #e67e22;
}

.fire-page::after {
  background-image: url("./media/fire-background-min.jpg");
}

.categories {
  width: 75%;
  margin: 4em auto 2em auto;
  justify-content: space-evenly;
  display: flex;
}

.category {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.category img {
  width: 7em;
  height: 7em;
  margin: 0 auto;
}

.category__p {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.category-content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.category-content__img {
  width: 12em;
  height: 12em;
  margin: 0 auto;
}

.audio-button {
  width: 4em;
  height: 4em;
  margin: 2em auto 0 auto;
  cursor: pointer;
  opacity: 0.9;
}

.button {
  padding: 0.8em;
  border-radius: 2em;
  background-color: #f5f6fa;
  cursor: pointer;
  display: block;
  width: 6em;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.icon-link {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.icon-link:hover {
  transform: scale(1.1);
}

#fp-nav ul li a span {
  background: #f5f6fa !important;
}

.sliderContainer {
  display: flex;
  margin-top: 1.5em;
}

.volume-slider {
  -webkit-appearance: none;
  width: 12em;
  margin: 0 auto;
  height: 10px;
  border-radius: 5px;
  background: #f5f6fa;
  outline: none;
  opacity: 0.7;
  transition: .2s;
}

.volume-slider:hover {
  opacity: 1;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(45, 52, 54, 0.7);
}
